App_WebReferences/localhost/atnwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cloud.isgec.co.in/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cloud.isgec.co.in/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cloud.isgec.co.in/">
      <s:element name="ForwardLeaveApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LeaveApplID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForwardLeaveApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForwardLeaveApplicationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectLeaveApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LeaveApplID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectLeaveApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RejectLeaveApplicationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ForwardLeaveApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:ForwardLeaveApplication" />
  </wsdl:message>
  <wsdl:message name="ForwardLeaveApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:ForwardLeaveApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="RejectLeaveApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:RejectLeaveApplication" />
  </wsdl:message>
  <wsdl:message name="RejectLeaveApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:RejectLeaveApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="atnWebServiceSoap">
    <wsdl:operation name="ForwardLeaveApplication">
      <wsdl:input message="tns:ForwardLeaveApplicationSoapIn" />
      <wsdl:output message="tns:ForwardLeaveApplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectLeaveApplication">
      <wsdl:input message="tns:RejectLeaveApplicationSoapIn" />
      <wsdl:output message="tns:RejectLeaveApplicationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="atnWebServiceSoap" type="tns:atnWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ForwardLeaveApplication">
      <soap:operation soapAction="http://cloud.isgec.co.in/ForwardLeaveApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectLeaveApplication">
      <soap:operation soapAction="http://cloud.isgec.co.in/RejectLeaveApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="atnWebServiceSoap12" type="tns:atnWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ForwardLeaveApplication">
      <soap12:operation soapAction="http://cloud.isgec.co.in/ForwardLeaveApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectLeaveApplication">
      <soap12:operation soapAction="http://cloud.isgec.co.in/RejectLeaveApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="atnWebService">
    <wsdl:port name="atnWebServiceSoap" binding="tns:atnWebServiceSoap">
      <soap:address location="http://localhost/atnweb1/atnwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="atnWebServiceSoap12" binding="tns:atnWebServiceSoap12">
      <soap12:address location="http://localhost/atnweb1/atnwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>